.footer {
    font-size: 14px;
    margin: 15px;
    margin-top: 200px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 100px; */
    align-items: center;
    color: var(--color-white);
}

.aifwIcon{
    width: 120px
}

.followText {
    color: var(--brand-green);
    text-align: center;
    font-family: Kanit;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.26px;
}

.appSocials {
    display: flex;
    gap: 15px;
}

.poweredBy {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    color: var(--color-white);
    font-family: Kanit;
    font-size: 11px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
}

.nvidia1Parent, .createdByParent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    align-items: center;
}